[Desktop Entry]
Name=Shutdown
Exec=bash -c "sudo /home/chris/.local/share/applications/shutdown.sh"
Comment=Shutdown
Terminal=true
Type=Application
Icon=system-shutdown
