# custom overriding values for traefik helm deployment
# helm install -f traefik.yaml traefik traefik/traefik
# helm upgrade -f traefik.yaml traefik traefik/traefik
---
ingressClass:
  enabled: true
  isDefaultClass: true
  name: traefik

providers:
  kubernetesCRD:
    ingressClass: traefik
  kubernetesIngress:
    ingressClass: traefik

persistence:
  enabled: true
  storageClass: longhorn

certificatesResolvers:
  letsencrypt:
    acme:
      dnsChallenge:
        provider: cloudflare
      storage: /data/acme.json

deployment:
  initContainers:
    - name: volume-permissions
      image: busybox:latest
      command: ['sh', '-c', 'touch /data/acme.json; chmod -v 600 /data/acme.json']
      volumeMounts:
        - mountPath: /data
          name: data

env:
  - name: CF_DNS_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-credentials
        key: token

ports:
  web:
    port: 80
    expose:
      default: true
    exposedPort: 80
    protocol: TCP
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    port: 443
    expose:
      default: true
    exposedPort: 443
    protocol: TCP
    asDefault: true
    tls:
      enabled: true
      certResolver: letsencrypt
      domains:
        - main: henn.dev
          sans:
            - '*.henn.dev'
  traefik:
    port: 8080
    expose:
      default: true
    exposedPort: 8080
    protocol: TCP

# ingressroute for traefik dashboard
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.henn.dev`)
    entryPoints: ['websecure']
    middlewares:
      - name: traefik-dashboard-auth

podSecurityContext:
  fsGroup: 65532
  fsGroupChangePolicy: 'OnRootMismatch'

extraObjects:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: traefik-dashboard-auth-secret
    type: kubernetes.io/basic-auth
    stringData:
      username: chris
      password: 3fficientFox
  - apiVersion: v1
    kind: Secret
    metadata:
      name: cloudflare-credentials
    type: Opaque
    stringData:
      token: <token>
      email: christopherpenn1000@gmail.com
  - apiVersion: traefik.io/v1alpha1
    kind: Middleware
    metadata:
      name: traefik-dashboard-auth
    spec:
      basicAuth:
        secret: traefik-dashboard-auth-secret
