---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
    name: traefik-dashboard
    namespace: default
    annotations:
        kubernetes.io/ingress.class: traefik-external
spec:
    entryPoints:
        - websecure
    routes:
        - match: Host(`kube-traefik.henn.dev`)
          kind: Rule
          services:
              - name: api@internal
                kind: TraefikService
          middlewares:
              - name: default-headers
    tls:
        secretName: cert-tls
