x-db-env: &db-env
  TRUSTED_PROXIES: ${FRONTEND_SUBNET}
  PGHOST: plane-db
  PGDATABASE: plane
  POSTGRES_USER: plane
  POSTGRES_PASSWORD: plane
  POSTGRES_DB: plane
  POSTGRES_PORT: 5432
  PGDATA: /var/lib/postgresql/data

x-redis-env: &redis-env
  TRUSTED_PROXIES: ${FRONTEND_SUBNET}
  REDIS_HOST: plane-redis
  REDIS_PORT: 6379
  REDIS_URL: redis://plane-redis:6379/

x-minio-env: &minio-env
  TRUSTED_PROXIES: ${FRONTEND_SUBNET}
  MINIO_ROOT_USER: access-key
  MINIO_ROOT_PASSWORD: secret-key

x-aws-s3-env: &aws-s3-env
  TRUSTED_PROXIES: ${FRONTEND_SUBNET}
  AWS_REGION:
  AWS_ACCESS_KEY_ID: access-key
  AWS_SECRET_ACCESS_KEY: secret-key
  AWS_S3_ENDPOINT_URL: http://plane-minio:9000
  AWS_S3_BUCKET_NAME: uploads

x-proxy-env: &proxy-env
  TRUSTED_PROXIES: ${FRONTEND_SUBNET}
  APP_DOMAIN: plane.henn.dev
  FILE_SIZE_LIMIT: 5242880
  CERT_EMAIL:
  CERT_ACME_CA:
  CERT_ACME_DNS:
  LISTEN_HTTP_PORT: 80
  LISTEN_HTTPS_PORT: 443
  BUCKET_NAME: uploads
  SITE_ADDRESS: :80

x-mq-env: &mq-env
  TRUSTED_PROXIES: ${FRONTEND_SUBNET}
  RABBITMQ_HOST: plane-mq
  RABBITMQ_PORT: 5672
  RABBITMQ_DEFAULT_USER: plane
  RABBITMQ_DEFAULT_PASS: plane
  RABBITMQ_DEFAULT_VHOST: plane
  RABBITMQ_VHOST: plane

x-live-env: &live-env
  TRUSTED_PROXIES: ${FRONTEND_SUBNET}
  API_BASE_URL: http://plane-api:8000
  LIVE_SERVER_SECRET_KEY: 2FiJk1U2aiVPEQtzLehYGlTSnTnrs7LW

x-app-env: &app-env
  TRUSTED_PROXIES: ${FRONTEND_SUBNET}
  WEB_URL: https://plane.henn.dev
  DEBUG: 0
  CORS_ALLOWED_ORIGINS: https://plane.henn.dev:80
  GUNICORN_WORKERS: 2
  USE_MINIO: 1
  DATABASE_URL: postgresql://plane:plane@plane-db/plane
  SECRET_KEY: 60gp0byfz2dvffa45cxl20p1scy9xbpf6d8c5y0geejgkyp1b5
  AMQP_URL: amqp://plane:plane@plane-mq:5672/plane
  API_KEY_RATE_LIMIT: 60/minute
  MINIO_ENDPOINT_SSL: 0
  LIVE_SERVER_SECRET_KEY: 2FiJk1U2aiVPEQtzLehYGlTSnTnrs7LW

services:
  plane-web:
    profiles: [plane]
    image: artifacts.plane.so/makeplane/plane-frontend:stable
    container_name: plane-web
    restart: unless-stopped
    networks: [traefik, plane]
    labels:
      traefik.enable: true
      traefik.http.routers.plane_web.rule: Host(`plane.henn.dev`)
      traefik.http.routers.plane_web.entrypoints: web,websecure
      traefik.http.routers.plane_web.middlewares: hdrs@file
      traefik.http.routers.plane_web.tls.certresolver: cf
      traefik.http.services.plane_web.loadbalancer.server.port: 3000

  plane-space:
    profiles: [plane]
    image: artifacts.plane.so/makeplane/plane-space:stable
    container_name: plane-space
    restart: unless-stopped
    networks: [traefik, plane]
    labels:
      traefik.enable: true
      traefik.http.routers.plane_space.rule: Host(`plane.henn.dev`) && PathPrefix(`/spaces/`)
      traefik.http.routers.plane_space.entrypoints: web,websecure
      traefik.http.routers.plane_space.middlewares: hdrs@file
      traefik.http.routers.plane_space.tls.certresolver: cf
      traefik.http.services.plane_space.loadbalancer.server.port: 3000

  plane-admin:
    profiles: [plane]
    image: artifacts.plane.so/makeplane/plane-admin:stable
    container_name: plane-admin
    restart: unless-stopped
    networks: [traefik, plane]
    labels:
      traefik.enable: true
      traefik.http.routers.plane_admin.rule: Host(`plane.henn.dev`) && PathPrefix(`/god-mode/`)
      traefik.http.routers.plane_admin.entrypoints: web,websecure
      traefik.http.routers.plane_admin.middlewares: hdrs@file
      traefik.http.routers.plane_admin.tls.certresolver: cf
      traefik.http.services.plane_admin.loadbalancer.server.port: 3000

  plane-live:
    profiles: [plane]
    image: artifacts.plane.so/makeplane/plane-live:stable
    container_name: plane-live
    restart: unless-stopped
    environment:
      <<: [*live-env, *redis-env]
    networks: [traefik, plane]
    labels:
      traefik.enable: true
      traefik.http.routers.plane_live.rule: Host(`plane.henn.dev`) && PathPrefix(`/live/`)
      traefik.http.routers.plane_live.entrypoints: web,websecure
      traefik.http.routers.plane_live.middlewares: hdrs@file
      traefik.http.routers.plane_live.tls.certresolver: cf
      traefik.http.services.plane_live.loadbalancer.server.port: 3000

  plane-api:
    profiles: [plane]
    image: artifacts.plane.so/makeplane/plane-backend:stable
    container_name: plane-api
    restart: unless-stopped
    command: ./bin/docker-entrypoint-api.sh
    volumes:
      - $DATA/plane/logs_api:/code/plane/logs
    environment:
      <<: [*app-env, *db-env, *redis-env, *minio-env, *aws-s3-env, *proxy-env]
    networks: [traefik, plane]
    labels:
      traefik.enable: true
      traefik.http.services.plane_api.loadbalancer.server.port: 8000

      #      traefik.http.middlewares.api_cors_headers.headers.accesscontrolallowmethods: GET,OPTIONS,PUT,POST,DELETE,PATCH
      #      traefik.http.middlewares.api_cors_headers.headers.accesscontrolalloworiginlist: https://plane.henn.dev
      #      traefik.http.middlewares.api_cors_headers.headers.accesscontrolallowcredentials: true
      #      traefik.http.middlewares.api_cors_headers.headers.accesscontrolallowheaders: '*'
      #
      #      traefik.http.routers.plane_api.rule: Host(`plane.henn.dev`) && PathPrefix(`/api/`)
      #      traefik.http.routers.plane_api.entrypoints: websecure
      #      traefik.http.routers.plane_api.middlewares: api_cors_headers
      #      traefik.http.routers.plane_api.tls.certresolver: cf

      #      traefik.http.middlewares.plane_auth_hdrs.headers.accesscontrolallowmethods: GET,OPTIONS,PUT,POST,DELETE,PATCH
      #      traefik.http.middlewares.plane_auth_hdrs.headers.accesscontrolalloworiginlist: https://plane.henn.dev
      #      traefik.http.middlewares.plane_auth_hdrs.headers.accesscontrolallowcredentials: true
      #      traefik.http.middlewares.plane_auth_hdrs.headers.accesscontrolallowheaders: '*'

      traefik.http.routers.plane_auth.rule: Host(`plane.henn.dev`) && (PathPrefix(`/api/`) || PathPrefix(`/auth/`))
      traefik.http.routers.plane_auth.entrypoints: web,websecure
      #      traefik.http.routers.plane_auth.middlewares: plane_auth_hdrs
      traefik.http.routers.plane_auth.tls.certresolver: cf

  plane-worker:
    profiles: [plane]
    image: artifacts.plane.so/makeplane/plane-backend:stable
    container_name: plane-worker
    restart: unless-stopped
    command: ./bin/docker-entrypoint-worker.sh
    volumes:
      - $DATA/plane/logs_worker:/code/plane/logs
    environment:
      <<: [*app-env, *db-env, *redis-env, *minio-env, *aws-s3-env, *proxy-env]
    networks: [plane]

  plane-beat-worker:
    profiles: [plane]
    image: artifacts.plane.so/makeplane/plane-backend:stable
    container_name: plane-beat-worker
    restart: unless-stopped
    command: ./bin/docker-entrypoint-beat.sh
    volumes:
      - $DATA/plane/logs_beat-worker:/code/plane/logs
    environment:
      <<: [*app-env, *db-env, *redis-env, *minio-env, *aws-s3-env, *proxy-env]
    networks: [plane]

  plane-migrator:
    profiles: [plane]
    image: artifacts.plane.so/makeplane/plane-backend:stable
    container_name: plane-migrator
    restart: unless-stopped
    command: ./bin/docker-entrypoint-migrator.sh
    volumes:
      - $DATA/plane/logs_migrator:/code/plane/logs
    environment:
      <<: [*app-env, *db-env, *redis-env, *minio-env, *aws-s3-env, *proxy-env]
    networks: [plane]

  plane-db:
    profiles: [plane]
    image: postgres:15.7-alpine
    container_name: plane-db
    restart: unless-stopped
    command: postgres -c 'max_connections=1000'
    environment:
      <<: *db-env
    volumes:
      - $DATA/plane/pgdata:/var/lib/postgresql/data
    networks: [plane]

  plane-redis:
    profiles: [plane]
    image: valkey/valkey:7.2.11-alpine
    container_name: plane-redis
    restart: unless-stopped
    volumes:
      - $DATA/plane/redisdata:/data
    networks: [plane]

  plane-mq:
    profiles: [plane]
    image: rabbitmq:3.13.6-management-alpine
    container_name: plane-mq
    restart: unless-stopped
    environment:
      <<: *mq-env
    volumes:
      - $DATA/plane/rabbitmq_data:/var/lib/rabbitmq
    networks: [traefik, plane]
    labels:
      traefik.enable: true
      traefik.http.routers.plane_mq.rule: Host(`rabbitmq.plane.henn.dev`)
      traefik.http.routers.plane_mq.entrypoints: websecure
      traefik.http.routers.plane_mq.tls.certresolver: cf
      traefik.http.services.plane_mq.loadbalancer.server.port: 15672

  plane-minio:
    profiles: [plane]
    image: minio/minio:latest
    container_name: plane-minio
    restart: unless-stopped
    command: server /export --console-address ":9090"
    environment:
      <<: *minio-env
    volumes:
      - $DATA/plane/uploads:/export
    networks: [traefik, plane]
    labels:
      traefik.enable: true
      traefik.http.routers.plane_minio_ui.rule: Host(`minio.plane.henn.dev`)
      traefik.http.routers.plane_minio_ui.entrypoints: websecure
      traefik.http.routers.plane_minio_ui.tls.certresolver: cf
      traefik.http.routers.plane_minio_ui.service: plane_minio_ui
      traefik.http.services.plane_minio_ui.loadbalancer.server.port: 9090

      traefik.http.routers.plane_minio_api.rule: Host(`plane.henn.dev`) && PathPrefix(`/uploads/`)
      traefik.http.routers.plane_minio_api.entrypoints: web,websecure
      traefik.http.routers.plane_minio_api.tls.certresolver: cf
      traefik.http.routers.plane_minio_api.service: plane_minio_api
      traefik.http.services.plane_minio_api.loadbalancer.server.port: 9000

networks:
  plane:
