x-plane_env: &plane_env #  TRUSTED_PROXIES: 0.0.0.0/0
  TRUSTED_PROXIES: ${FRONTEND_SUBNET}
  DOMAIN_NAME: plane.henn.dev
  APP_DOMAIN: plane.henn.dev
  WEB_URL: https://plane.henn.dev
  CORS_ALLOWED_ORIGINS: https://plane.henn.dev
  LISTEN_HTTP_PORT: 80
  LISTEN_HTTPS_PORT: 443
  APP_PROTOCOL: https
  SSL_VERIFY: 0
  SECRET_KEY: 60gp0byfz2dvffa45cxl20p1scy9xbpf6d8c5y0geejgkyp1b5
  LIVE_SERVER_SECRET_KEY: 60gp0byfz2dvffa45cxl20p1scy9xbpf6d8c5y0geejgkyp1b5

  API_BASE_URL: http://plane-backend:8000

  DEBUG: 1
  GUNICORN_WORKERS: 2
  API_KEY_RATE_LIMIT: 60/minute

  PGHOST: plane-db
  PGDATABASE: plane
  POSTGRES_USER: plane
  POSTGRES_PASSWORD: plane
  POSTGRES_DB: plane
  POSTGRES_PORT: 5432
  PGDATA: /var/lib/postgresql/data
  DATABASE_URL: postgresql://plane:plane@plane-db/plane

  REDIS_HOST: plane-redis
  REDIS_PORT: 6379
  REDIS_URL: redis://plane-redis:6379/

  RABBITMQ_HOST: plane-mq
  RABBITMQ_PORT: 5672
  RABBITMQ_DEFAULT_USER: plane
  RABBITMQ_DEFAULT_PASS: plane
  RABBITMQ_DEFAULT_VHOST: plane
  RABBITMQ_VHOST: plane
  AMQP_URL: amqp://plane:plane@plane-mq:5672/plane

  USE_MINIO: 1
  MINIO_ENDPOINT_SSL: 0
  FILE_SIZE_LIMIT: 5242880
  MINIO_ROOT_USER: access-key
  MINIO_ROOT_PASSWORD: secret-key
  BUCKET_NAME: uploads
  AWS_ACCESS_KEY_ID: access-key
  AWS_SECRET_ACCESS_KEY: secret-key
  AWS_S3_BUCKET_NAME: uploads
  AWS_S3_ENDPOINT_URL: http://plane-minio:9000

services:
  plane-frontend:
    profiles: [plane]
    image: artifacts.plane.so/makeplane/plane-frontend:stable
    container_name: plane-frontend
    restart: unless-stopped
    environment:
      <<: [*plane_env]
    networks: [traefik, plane]
    labels:
      traefik.enable: true
      traefik.http.routers.plane_frontend.rule: Host(`plane.henn.dev`)
      traefik.http.routers.plane_frontend.entrypoints: web,websecure
      #      traefik.http.routers.plane_frontend.middlewares: hdrs@file
      traefik.http.routers.plane_frontend.tls.certresolver: cf
      traefik.http.services.plane_frontend.loadbalancer.server.port: 3000

      traefik.http.routers.plane_frontend.priority: 1

  plane-space:
    profiles: [plane]
    image: artifacts.plane.so/makeplane/plane-space:stable
    container_name: plane-space
    restart: unless-stopped
    environment:
      <<: [*plane_env]
    networks: [traefik, plane]
    labels:
      traefik.enable: true
      traefik.http.routers.plane_space.rule: Host(`plane.henn.dev`) && PathPrefix(`/spaces/`)
      traefik.http.routers.plane_space.entrypoints: web,websecure
      #      traefik.http.routers.plane_space.middlewares: hdrs@file
      traefik.http.routers.plane_space.tls.certresolver: cf
      traefik.http.services.plane_space.loadbalancer.server.port: 3000

      traefik.http.routers.plane_space.priority: 2

  plane-admin:
    profiles: [plane]
    image: artifacts.plane.so/makeplane/plane-admin:stable
    container_name: plane-admin
    restart: unless-stopped
    environment:
      <<: [*plane_env]
    networks: [traefik, plane]
    labels:
      traefik.enable: true
      traefik.http.routers.plane_admin.rule: Host(`plane.henn.dev`) && PathPrefix(`/god-mode/`)
      traefik.http.routers.plane_admin.entrypoints: web,websecure
      #      traefik.http.routers.plane_admin.middlewares: hdrs@file
      traefik.http.routers.plane_admin.tls.certresolver: cf
      traefik.http.services.plane_admin.loadbalancer.server.port: 3000

      traefik.http.routers.plane_admin.priority: 2

  plane-live:
    profiles: [plane]
    image: artifacts.plane.so/makeplane/plane-live:stable
    container_name: plane-live
    restart: unless-stopped
    environment:
      <<: [*plane_env]
    networks: [traefik, plane]
    labels:
      traefik.enable: true
      traefik.http.routers.plane_live.rule: Host(`plane.henn.dev`) && PathPrefix(`/live/`)
      traefik.http.routers.plane_live.entrypoints: web,websecure
      #      traefik.http.routers.plane_live.middlewares: hdrs@file
      traefik.http.routers.plane_live.tls.certresolver: cf
      traefik.http.services.plane_live.loadbalancer.server.port: 3000

      traefik.http.routers.plane_live.priority: 2

  plane-backend:
    profiles: [plane]
    image: artifacts.plane.so/makeplane/plane-backend:stable
    container_name: plane-backend
    restart: unless-stopped
    command: ./bin/docker-entrypoint-api.sh
    environment:
      <<: [*plane_env]
    volumes:
      - $DATA/plane/logs_api:/code/plane/logs
    networks: [traefik, plane]
    labels:
      traefik.enable: true

      traefik.http.middlewares.plane_hdrs.headers.accesscontrolallowmethods: GET,OPTIONS,PUT,POST,DELETE,PATCH
      traefik.http.middlewares.plane_hdrs.headers.accesscontrolalloworiginlist: https://plane.henn.dev
      traefik.http.middlewares.plane_hdrs.headers.accesscontrolallowcredentials: true
      traefik.http.middlewares.plane_hdrs.headers.accesscontrolallowheaders: '*'

      traefik.http.routers.plane_api.rule: Host(`plane.henn.dev`) && PathPrefix(`/api/`)
      traefik.http.routers.plane_api.entrypoints: web,websecure
      traefik.http.routers.plane_api.middlewares: plane_hdrs
      traefik.http.routers.plane_api.tls.certresolver: cf
      traefik.http.routers.plane_api.service: plane_api
      traefik.http.services.plane_api.loadbalancer.server.port: 8000

      traefik.http.routers.plane_api.priority: 2

      traefik.http.routers.plane_auth.rule: Host(`plane.henn.dev`) && PathPrefix(`/auth/`)
      traefik.http.routers.plane_auth.entrypoints: web,websecure
      traefik.http.routers.plane_auth.middlewares: plane_hdrs
      traefik.http.routers.plane_auth.tls.certresolver: cf
      traefik.http.routers.plane_auth.service: plane_auth
      traefik.http.services.plane_auth.loadbalancer.server.port: 8000

      traefik.http.routers.plane_auth.priority: 2

  plane-mq:
    profiles: [plane]
    image: rabbitmq:3.13.6-management-alpine
    container_name: plane-mq
    restart: unless-stopped
    environment:
      <<: [*plane_env]
    volumes:
      - $DATA/plane/rabbitmq_data:/var/lib/rabbitmq
    networks: [traefik, plane]
    labels:
      traefik.enable: true
      traefik.http.routers.plane_mq.rule: Host(`rabbitmq.plane.henn.dev`)
      traefik.http.routers.plane_mq.entrypoints: websecure
      traefik.http.routers.plane_mq.tls.certresolver: cf
      traefik.http.services.plane_mq.loadbalancer.server.port: 15672

  plane-minio:
    profiles: [plane]
    image: minio/minio:latest
    container_name: plane-minio
    restart: unless-stopped
    command: server /export --console-address ":9090"
    environment:
      <<: [*plane_env]
    volumes:
      - $DATA/plane/uploads:/export
    networks: [traefik, plane]
    labels:
      traefik.enable: true
      traefik.http.routers.plane_minio_ui.rule: Host(`minio.plane.henn.dev`)
      traefik.http.routers.plane_minio_ui.entrypoints: websecure
      traefik.http.routers.plane_minio_ui.tls.certresolver: cf
      traefik.http.routers.plane_minio_ui.service: plane_minio_ui
      traefik.http.services.plane_minio_ui.loadbalancer.server.port: 9090

      traefik.http.routers.plane_minio_api.rule: Host(`plane.henn.dev`) && PathPrefix(`/uploads/`)
      traefik.http.routers.plane_minio_api.entrypoints: web,websecure
      traefik.http.routers.plane_minio_api.tls.certresolver: cf
      traefik.http.routers.plane_minio_api.service: plane_minio_api
      traefik.http.services.plane_minio_api.loadbalancer.server.port: 9000

      traefik.http.routers.plane_minio_api.priority: 100

  plane-worker:
    profiles: [plane]
    image: artifacts.plane.so/makeplane/plane-backend:stable
    container_name: plane-worker
    restart: unless-stopped
    command: ./bin/docker-entrypoint-worker.sh
    environment:
      <<: [*plane_env]
    volumes:
      - $DATA/plane/logs_worker:/code/plane/logs
    networks: [plane]

  plane-beat-worker:
    profiles: [plane]
    image: artifacts.plane.so/makeplane/plane-backend:stable
    container_name: plane-beat-worker
    restart: unless-stopped
    command: ./bin/docker-entrypoint-beat.sh
    environment:
      <<: [*plane_env]
    volumes:
      - $DATA/plane/logs_beat-worker:/code/plane/logs
    networks: [plane]

  plane-migrator:
    profiles: [plane]
    image: artifacts.plane.so/makeplane/plane-backend:stable
    container_name: plane-migrator
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    command: ./bin/docker-entrypoint-migrator.sh
    environment:
      <<: [*plane_env]
    volumes:
      - $DATA/plane/logs_migrator:/code/plane/logs
    networks: [plane]

  plane-db:
    profiles: [plane]
    image: postgres:15.7-alpine
    container_name: plane-db
    restart: unless-stopped
    command: postgres -c 'max_connections=1000'
    environment:
      <<: [*plane_env]
    volumes:
      - $DATA/plane/pgdata:/var/lib/postgresql/data
    networks: [plane]

  plane-redis:
    profiles: [plane]
    image: valkey/valkey:7.2.11-alpine
    container_name: plane-redis
    restart: unless-stopped
    volumes:
      - $DATA/plane/redisdata:/data
    networks: [plane]

networks:
  plane:
