# fix for "permission denied" when doing file operations in a container
# untested

x-configs:
  volumes:
    my-named-volume: &volume-my-named-volume "my-named-volume:/whatever/path/i/need"
    my-other-named-volume: &volume-my-other-named-volume "my-other-named-volume:/whatever/other/path/i/need"

services:
  myapp:
    image: myappimage
    # user: my-non-root-user
    volumes:
      - *volume-my-named-volume
      - *volume-my-other-named-volume

  fix-named-volumes-permissions:
    # the image doesn't matter; easiest to use the same as the target docker service
    image: myappimage
    user: root
    command: chmod 777 /whatever/path/i/need /whatever/other/path/i/need
    volumes:
      - *volume-my-named-volume
      - *volume-my-other-named-volume

volumes:
  my-named-volume:
  my-other-named-volume:
