# ignored by trufflehog - default keys - replace for deployment

production = true

[database]
mongodb = "mongodb://database"
redis = "redis://redis/"

[hosts]
app = "http://stoat.henn.dev"
api = "http://stoat.henn.dev/api"
events = "ws://stoat.henn.dev/ws"
autumn = "http://stoat.henn.dev/autumn"
january = "http://stoat.henn.dev/january"
voso_legacy = ""
voso_legacy_ws = ""

[rabbit]
host = "rabbit"
port = 5672
username = "rabbituser"
password = "rabbitpass"

[api]

[api.registration]
invite_only = false

[api.smtp]
host = ""
username = ""
password = ""
from_address = ""
reply_to = "noreply@example.com"
port = 465
use_tls = true

[api.security]
authifier_shield_key = ""
voso_legacy_token = ""
trust_cloudflare = false
easypwned = ""

[api.security.captcha]
hcaptcha_key = ""
hcaptcha_sitekey = ""

[api.workers]
max_concurrent_connections = 50

[api.users]

[pushd]
production = true
mass_mention_chunk_size = 200
exchange = "revolt.notifications"
message_queue = "notifications.origin.message"
mass_mention_queue = "notifications.origin.mass_mention"
fr_accepted_queue = "notifications.ingest.fr_accepted"
fr_received_queue = "notifications.ingest.fr_received"
generic_queue = "notifications.ingest.generic"
ack_queue = "notifications.process.ack"

[pushd.vapid]
queue = "notifications.outbound.vapid"
private_key = "LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSUJSUWpyTWxLRnBiVWhsUHpUbERvcEliYk1yeVNrNXpKYzVYVzIxSjJDS3hvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFWnkrQkg2TGJQZ2hEa3pEempXOG0rUXVPM3pCajRXT1phdkR6ZU00c0pqbmFwd1psTFE0WAp1ZDh2TzVodU94QWhMQlU3WWRldVovWHlBdFpWZmNyQi9BPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo"
public_key = "BGcvgR-i2z4IQ5Mw841vJvkLjt8wY-FjmWrw83jOLCY52qcGZS0OF7nfLzuYbjsQISwVO2HXrmf18gLWVX3Kwfw="

[pushd.fcm]
queue = "notifications.outbound.fcm"
key_type = ""
project_id = ""
private_key_id = ""
private_key = ""
client_email = ""
client_id = ""
auth_uri = ""
token_uri = ""
auth_provider_x509_cert_url = ""
client_x509_cert_url = ""

[pushd.apn]
sandbox = false
queue = "notifications.outbound.apn"
pkcs8 = ""
key_id = ""
team_id = ""

[files]
encryption_key = "qcuMA+ssxhMyKaNAKBGFfryfFtUH8NDlamQyDwGW6fU="
webp_quality = 80.0
blocked_mime_types = []
clamd_host = ""
scan_mime_types = [
    "application/vnd.microsoft.portable-executable",
    "application/vnd.android.package-archive",
    "application/zip",
]

[files.limit]
min_file_size = 1
min_resolution = [1, 1]
max_mega_pixels = 40
max_pixel_side = 10_000

[files.preview]
attachments = [1280, 1280]
avatars = [128, 128]
backgrounds = [1280, 720]
icons = [128, 128]
banners = [480, 480]
emojis = [128, 128]

[files.s3]
endpoint = "http://minio:9000"
path_style_buckets = false
region = "minio"
access_key_id = "minioautumn"
secret_access_key = "minioautumn"
default_bucket = "revolt-uploads"

[features]
webhooks_enabled = false
mass_mentions_send_notifications = true
mass_mentions_enabled = true

[features.limits]

[features.limits.global]
group_size = 100
message_embeds = 5
message_replies = 5
message_reactions = 20
server_emoji = 100
server_roles = 200
server_channels = 200
new_user_hours = 72
body_limit_size = 20_000_000

[features.limits.new_user]
outgoing_friend_requests = 5
bots = 2
message_length = 2000
message_attachments = 5
servers = 50

[features.limits.new_user.file_upload_size_limit]
attachments = 20_000_000
avatars = 4_000_000
backgrounds = 6_000_000
icons = 2_500_000
banners = 6_000_000
emojis = 500_000

[features.limits.default]
outgoing_friend_requests = 10
bots = 5
message_length = 2000
message_attachments = 5
servers = 100

[features.limits.default.file_upload_size_limit]
attachments = 20_000_000
avatars = 4_000_000
backgrounds = 6_000_000
icons = 2_500_000
banners = 6_000_000
emojis = 500_000

[features.advanced]
process_message_delay_limit = 5

[sentry]
api = ""
events = ""
files = ""
proxy = ""
pushd = ""
crond = ""
