# Join with two users crashes after a minute. Logs are useless. Same with traefik and pangolin.

# https://jitsi.github.io/handbook/docs/devops-guide/devops-guide-docker/
# https://github.com/DCIWW/jitsi-oidc-adapter

# mkdir -p $DATA/jitsi/{web,transcripts,prosody/config,prosody/prosody-plugins-custom,jicofo,jvb,jigasi,jibri}

---
x-jitsi_env: &jitsi_env
  PUBLIC_URL: https://jitsi.henn.dev
  VIRTUAL_HOST: jitsi.henn.dev
  HTTP_PORT: 80
  HTTPS_PORT: 443
  JVB_ADVERTISE_IPS: publicip
  DISABLE_HTTPS: 1
  ENABLE_HTTP_REDIRECT: 0
  ENABLE_LETSENCRYPT: 0
  ENABLE_AUTH: 0
  JVB_PORT: 10000
  TZ: $TZ

  JICOFO_AUTH_PASSWORD: $JICOFO_AUTH_PASSWORD
  JVB_AUTH_PASSWORD: $JVB_AUTH_PASSWORD
  JIGASI_XMPP_PASSWORD: $JIGASI_XMPP_PASSWORD
  JIGASI_TRANSCRIBER_PASSWORD: $JIGASI_TRANSCRIBER_PASSWORD
  JIBRI_RECORDER_PASSWORD: $JIBRI_RECORDER_PASSWORD
  JIBRI_XMPP_PASSWORD: $JIBRI_XMPP_PASSWORD

services:
  jitsi:
    profiles: [jitsi]
    image: jitsi/web:stable-10741
    container_name: jitsi
    restart: unless-stopped
    environment:
      <<: *jitsi_env
    volumes:
      - $DATA/jitsi/web:/config
      - $DATA/jitsi/web/crontabs:/var/spool/cron/crontabs
      - $DATA/jitsi/web/load-test:/usr/share/jitsi-meet/load-test
      - $DATA/jitsi/transcripts:/usr/share/jitsi-meet/transcripts
    networks: [meet.jitsi, traefik]
    labels:
      service: 'jitsi-web'

      #      homepage.group: Tools
      #      homepage.name: Jitsi
      #      homepage.icon: jitsi.png
      #      homepage.href: https://jitsi.chenn.dev
      #      homepage.description: Private Google Meet

      traefik.enable: true
      traefik.http.routers.jitsi.rule: Host(`jitsi.henn.dev`)
      traefik.http.routers.jitsi.entrypoints: websecure
      traefik.http.routers.jitsi.tls: true
      traefik.http.routers.jitsi.tls.certresolver: cf
      traefik.http.services.jitsi.loadbalancer.server.port: 80

  #      pangolin.public-resources.jitsi.name: jitsi
  #      pangolin.public-resources.jitsi.protocol: http
  #      pangolin.public-resources.jitsi.full-domain: jitsi.chenn.dev
  #      pangolin.public-resources.jitsi.ssl: true
  #      pangolin.public-resources.jitsi.targets[0].method: http
  #      pangolin.public-resources.jitsi.targets[0].port: 80
  #      pangolin.public-resources.jitsi.targets[0].healthcheck.enabled: true
  #      pangolin.public-resources.jitsi.targets[0].healthcheck.hostname: jitsi
  #      pangolin.public-resources.jitsi.targets[0].healthcheck.port: 80
  #      pangolin.public-resources.jitsi.targets[0].healthcheck.path: /
  #      pangolin.public-resources.jitsi.auth.sso-enabled: true
  #      pangolin.public-resources.jitsi.auth.sso-roles[0]: Member
  #      pangolin.public-resources.jitsi.rules[0].action: pass
  #      pangolin.public-resources.jitsi.rules[0].match: country
  #      pangolin.public-resources.jitsi.rules[0].value: US
  #      pangolin.public-resources.jitsi.rules[0].priority: 0
  #      pangolin.public-resources.jitsi.rules[1].action: deny
  #      pangolin.public-resources.jitsi.rules[1].match: country
  #      pangolin.public-resources.jitsi.rules[1].value: ALL
  #      pangolin.public-resources.jitsi.rules[1].priority: 10

  prosody:
    profiles: [jitsi]
    image: jitsi/prosody:stable-10741
    container_name: jitsi_prosody
    restart: unless-stopped
    expose:
      - '5222'
      - '5269'
      - '5347'
      - '5280'
    volumes:
      - $DATA/jitsi/prosody/config:/config
      - $DATA/jitsi/prosody/prosody-plugins-custom:/prosody-plugins-custom
    environment:
      <<: *jitsi_env
    networks:
      meet.jitsi:
        aliases:
          - xmpp.meet.jitsi
    labels:
      service: 'jitsi-prosody'

  jicofo:
    profiles: [jitsi]
    image: jitsi/jicofo:stable-10741
    container_name: jitsi_jicofo
    restart: unless-stopped
    environment:
      <<: *jitsi_env
    volumes:
      - $DATA/jitsi/jicofo:/config
    networks: [meet.jitsi, traefik]
    labels:
      service: 'jitsi-jicofo'

  jvb:
    profiles: [jitsi]
    image: jitsi/jvb:stable-10741
    container_name: jitsi_jvb
    restart: unless-stopped
    environment:
      <<: *jitsi_env
    volumes:
      - $DATA/jitsi/jvb:/config
    networks: [meet.jitsi, traefik]
    labels:
      service: 'jitsi-jvb'

      #      pangolin.public-resources.jvb.name: jvb
      #      pangolin.public-resources.jvb.protocol: udp
      #      pangolin.public-resources.jvb.proxy-port: 10000
      #      pangolin.public-resources.jvb.targets[0].port: 10000

      traefik.enable: true
      traefik.udp.routers.jvb.entrypoints: video
      traefik.udp.services.jvb.loadbalancer.server.port: 10000

networks:
  meet.jitsi:
