# I use arcane for this
---
services:
  watchtower:
    profiles: [watchtower]
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    environment:
      # bugfix. this should be unecessary for newer watchtower builds, soon
      DOCKER_API_VERSION: 1.52
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      DOCKER_HOST: tcp://socket-proxy:2375
      # 6-element cron expression. first one is seconds.
      WATCHTOWER_SCHEDULE: '0 0 12 * * *'
      WATCHTOWER_LIFECYCLE_HOOKS: true
      WATCHTOWER_CLEANUP: true
      WATCHTOWER_REMOVE_VOLUMES: true
      WATCHTOWER_NO_STARTUP_MESSAGE: false
      WATCHTOWER_RUN_ONCE: ${WATCHTOWER_RUN_ONCE:-false}
      WATCHTOWER_HTTP_API_METRICS: true
      WATCHTOWER_HTTP_API_PERIODIC_POLLS: true
      WATCHTOWER_HTTP_API_TOKEN: token
    volumes:
      # make sure to sync docker config to remote if needed with `just cfg`
      - $HOME/.docker/config.json:/config.json
    networks: [traefik, docker]
    labels:
      homepage.group: Infra
      homepage.name: Watchtower
      homepage.icon: watchtower.png
      homepage.description: Watchtower Container Updater
      homepage.widget.type: watchtower
      homepage.widget.url: http://watchtower:8080
      homepage.widget.key: token
